.survey__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: gold;
    transition: 0.2s;
    justify-content: space-between;
    width: 25vw;
}

.survey__single--text {
    font-weight: bold;
}

.survey__single--details input {
    margin-bottom: 5px;

}


.survey__single--icons {
    align-self: start;
}

.survey__single--description {
    margin-top: 10px;
    font-style: italic;
    background-color: gold;
}

.survey__single--details {
    display: flex;
    flex-direction: column;
    width: 80%;
}