.question--single {
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 30px;
    width: 30vw;
    height: auto;
}


.question--single__details {
    display: flex;
    flex-direction: column;
}

.question--single__details span {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 1.5em;
    font-size: 1.5em;
    align-content: center;
    background-color: ghostwhite;
}

.question--single__details input {
    padding: 5px;
    margin-bottom: 5px;
    height: 2em;
    border-radius: 10px;
    font-size: .9em;
    background-color: ghostwhite;
}